<main class="content">
    <div class="row">
        <div class="col s12 m12 l12">

            

       
        
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">

                       

                <div class="row">
                    <div class="col s12">
                        <h4>Indicadores</h4>
                    </div>
                </div>

                <div class="col s12">

                    
                        <table class="bordered data-tables responsive-table">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <th>Status</th>
                                    <th>Nome de usuário</th>
                                    <th>Facebook</th>
                                    <th>Email</th>
                                    <th>Data de inscrição</th>
                                    <th>admin</th>
                                    <th>Action</th>
                                </tr>

                            
        <tr ng-repeat="lead in leads track by $index">
            <td><a href="/admin#!/app/lead/{{lead.id}}">{{lead.id}}</a></td>
            <td><a href="/admin#!/app/lead/{{lead.id}}">{{lead.title}}</a></td>
            <td>{{lead.user_id.name}}</td>
            <td>{{lead.person_name}}</td>
            <td><a target="_blank" href="https://www.facebook.com/app_scoped_user_id/">Facebook </a>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="/admin/profile.php/?id={{lead.id}}">Visitar Perfil</a></td>
        </tr>

        
       
        
                            </tbody>
                        </table>

                                        </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</main>