<main class="content">
   <div class="row">
      <div class="col s12 m12 l12">
         <!--div class="card blue-grey lighten-2">
            <div class="card-content white-text">
               <span class="card-title">Warning! Enabled demo version mode! The changes you've made will not be saved.</span>
            </div>
         </div-->
         <div class="card">
            <div class="card-content">
               <div class="row">
                  <div class="col s12">
                     <div class="row">
                        <div class="col s6">
                           <h4>Lead criado</h4>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col s12">
                           <div class="card blue-grey lighten-2">
                              <div class="card-content white-text">
                                 <span class="card-title">{{lead.title}}</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col s12">
                        <table class="striped responsive-table">
                           <tbody>
                              <tr>
                                 <th class="text-left">Nome</th>
                                 <th>{{lead.title}}</th>
                              </tr>
                              <tr>
                                 <td class="text-left">Valor</td>
                                 <td>{{lead.formatted_value}}</td>
                              </tr>
                              <tr>
                                 <td class="text-left">Criado</td>
                                 <td>{{lead.add_time}}</td>
                              </tr>
                              <tr>
                                 <td class="text-left">Default AdMob value for new users</td>
                                 <td>{{lead.title}}</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="row">
                        <div class="col s12" style="margin-top: 20px">
                           <a href="/admin/admob.php/?access_token=0&act=global_off">
                           <button class="btn waves-effect waves-light teal">Turn Off AdMob for new users</button>
                           </a>
                           <a href="/admin/admob.php/?access_token=0&act=on">
                           <button class="btn waves-effect waves-light teal">Turn On AdMob in all accounts</button>
                           </a>
                           <a href="/admin/admob.php/?access_token=0&act=off">
                           <button class="btn waves-effect waves-light teal">Turn Off AdMob in all accounts</button>
                           </a> <a href="/admin/admob.php/?access_token=0&act=off">
                           <button class="btn waves-effect waves-light teal">Turn Off AdMob in all accounts</button>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>