<main class="content">
   <div class="row">
      <div class="col s12 m12 l12">
         <!--div class="card blue-grey lighten-2">
            <div class="card-content white-text">
                <span class="card-title">Warning! Enabled demo version mode! The changes you've made will not be saved.</span>
            </div>
            </div-->
         <div class="card">
            <div class="card-content">
               <div class="row">
                  <div class="col s12">
                     <div class="row">
                        <div class="col s6">
                           <h4>Dados da conta</h4>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col s12">
                           <a href="/admin/personal_gcm.php/?id=5605">
                           <button class="btn waves-effect waves-light teal">Ficar disponivel na roleta</i></button>
                           </a>
                        </div>
                     </div>
                     <div class="col s12">
                        <table class="striped responsive-table">
                           <tbody>
                              <tr>
                                 <th class="text-left">Nome</th>
                                 <th>Value/Count</th>
                                 <th>Action</th>
                              </tr>
                              <tr>
                                 <td class="text-left">Usuário:</td>
                                 <td>annan</td>
                                 <td></td>
                              </tr>
                              <tr>
                                 <td class="text-left">Nome completo:</td>
                                 <td>baby &amp; kids</td>
                                 <td></td>
                              </tr>
                              <tr>
                                 <td class="text-left">Email:</td>
                                 <td>benny_whait@yahoo.co.id</td>
                                 <td></td>
                              </tr>
                              <tr>
                                 <td class="text-left">Facebook:</td>
                                 <td><a target="_blank" href="https://www.facebook.com/app_scoped_user_id/1874529002612115">Facebook account link</a></td>
                                 <td><a href="/admin/profile.php/?id=5605&access_token=0&act=disconnect">Remove </a></td>
                              </tr>
                              <tr>
                                 <td class="text-left">SignUp Ip address:</td>
                                 <td>It is not available in the demo version</td>
                                 <td></td>
                              </tr>
                              <tr>
                                 <td class="text-left">SignUp Date:</td>
                                 <td>2018-08-02 05:04:06</td>
                                 <td></td>
                              </tr>
                              <tr>
                                 <td class="text-left">AdMob (on/off AdMob in account):</td>
                                 <td>
                                    <span>On (AdMob is active in account)</span>                                            
                                 </td>
                                 <td>
                                    <a class="" href="/admin/profile.php/?id=5605&access_token=0&act=hideAdmob">Turn Off AdMob in this account</a>
                                 </td>
                              </tr>
                              <tr>
                                 <td class="text-left">Status da conta:</td>
                                 <td>
                                    <span>Account is active</span>                                            
                                 </td>
                                 <td>
                                    <a class="" href="/admin/profile.php/?id=5605&access_token=0&act=block">Block account</a>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="row">
                        <div class="col s12">
                           <h4>Editar Dados</h4>
                        </div>
                     </div>
                     <form method="post" action="/admin/profile.php/?id=5605&access_token=0">
                        <input type="hidden" name="authenticity_token" value="d42d688cd8d534bb7c2f877de482605f">
                        <div class="row">
                           <div class="input-field col s12">
                              <input placeholder="Nome do Usuário" id="username" type="text" name="username" maxlength="255" class="validate" value="">
                              <label for="username">Nome do Usuário</label>
                           </div>
                           <div class="input-field col s12">
                              <input placeholder="Nome Completo" id="fullname" type="text" name="fullname" maxlength="255" class="validate" value="">
                              <label for="fullname">Nome Completo</label>
                           </div>
                           <div class="input-field col s12">
                              <input placeholder="Endereço" id="location" type="text" name="location" maxlength="255" class="validate" value="">
                              <label for="location">Endereço</label>
                           </div>
                           <div class="input-field col s12">
                              <input placeholder="Facebook" id="fb_page" type="text" name="fb_page" maxlength="255" class="validate" value="">
                              <label for="fb_page">Facebook</label>
                           </div>
                           <div class="input-field col s12">
                              <input placeholder="Instagram" id="instagram" type="text" name="instagram" maxlength="255" class="validate" value="">
                              <label for="instagram">Instagram</label>
                           </div>
                           <div class="input-field col s12">
                              <input placeholder="Email" id="email" type="text" name="email" maxlength="255" class="validate" value="">
                              <label for="email">Email</label>
                           </div>
                           <div class="input-field col s12">
                              <button type="submit" class="btn waves-effect waves-light" name="" >Salvar</button>
                           </div>
                        </div>
                     </form>
                     <div class="row">
                        <div class="col s12">
                           <h4>Leads</h4>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col s12">
                           <a href="/admin/profile.php/?id=5605&access_token=0&act=close">
                           <button class="btn waves-effect waves-light teal">Fechar todos os leads<i class="material-icons right">delete</i></button>
                           </a>
                        </div>
                     </div>
                     <div class="col s12">
                        <table class="bordered data-tables responsive-table">
                           <tbody>
                              <tr>
                                 <th class="text-left">Id</th>
                                 <th>Access token</th>
                                 <th>Client Id</th>
                                 <th>Create At</th>
                                 <th>Close At</th>
                                 <th>User agent</th>
                                 <th>Ip address</th>
                              </tr>
                              <tr>
                                 <td class="text-left">12244</td>
                                 <td>b9621e807fbf6475f12ec58269ebb87f</td>
                                 <td>1</td>
                                 <td>2018-08-02 05:04:06</td>
                                 <td>-</td>
                                 <td>Dalvik/2.1.0 (Linux; U; Android 6.0; Redmi Note 4X MIUI/V9.6.1.0.MBFMIFD)</td>
                                 <td>It is not available in the demo version</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>