<main class="content">
   <div class="row">
   <div class="col s12 m12 l12">
   <!--div class="card blue-grey lighten-2 hidden">
      <div class="card-content white-text">
         <span class="card-title">Warning! Enabled demo version mode! The changes you've made will not be saved.</span>
      </div>
   </div-->
   <div class="card">
   <div class="card-content">
      <div class="row">
         <div class="col s12">
            <div class="row">
               <div class="col s2">
                  <h4>Iniciar roletas</h4>
                  <input type="button" name="" class="btn" value="Iniciar" ng-click="iniciar_roleta()" >
               </div>
            </div>
            <div class="col s12">
               <table class="responsive-table">
                  <tbody>
                     <tr>
                        
                        <th>Roletas{{sorteados}}</th>
                       
                     </tr>
                     <tr ng-repeat="logado in inscritos">
                        
                        <td>
                            <br>
                            <span ng-repeat="(chave, inscrito) in logado.dados">
                            <input type="button" class="btn btn-primary btn-mini" name="sortear" value="Sortear" ng-click="sortear_roleta(logado.dados[chave].id_parent)">
                                <b>{{logado.dados[chave].name}}</b>
                                {{logado.inscritos[chave]}}

                                <hr>
                                <br>
                                <span ng-repeat="(chave2, inscrito2) in logado.inscritos track by $index"><b>

                                    <span ng-repeat="inscrito3 in inscrito2 track by $index">
                                 <br>{{carregados[inscrito3.usuario]}}</b>
                                </span>
                                <br>{{inscrito2}}
                            </b>
                            </td>
                            </span>
                            </span>
                        
                     </tr>
                  </tbody>
               </table>
            </div>

         </div>
      </div>
   </div>
</main>