<main class="content">
    <div class="row">
        <div class="col s12 m12 l12">
        <div class="card blue-grey lighten-2">
            <div class="card-content white-text">
                <span class="card-title">Enabled demo version mode! The changes you've made will not be saved.</span>
            </div>
        </div>
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">

                        <div class="row">
                            <div class="col s2">
                                <h4>Statistics</h4>
                            </div>
                        </div>
                <div class="col s12">
                    <table class="striped responsive-table">
                            <tbody>
                                <tr>
                                    <th class="text-left">entrar</th>
                                    <th class="text-left">Name</th>
                                    <th>Email</th>
                                    <th>Confirmado</th>
                                </tr>
                                <tr ng-repeat="user in usuarios_sistema">
                                    <td><a href="#!app/usuario/{{user.id}}"><input type="button" class="btn btn-mini" value="Ver"></a></td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>
                                        <a href="#!app/usuario/{{user.id}}" ng-if="user.confirmado == 1">
                                            <input type="button" class="btn btn-mini" value="confirmado">
                                        </a>
                                        <a  ng-if="user.confirmado != 1">
                                            <input type="button" class="btn btn-mini red darken-4" value="Pegar Link" ng-click="mostrar_link(user.codigo)">
                                        </a>
                                    </td>
                                </tr>
                             
                            </tbody>
                        </table>
                </div>

                <div class="row">
                    <div class="col s12">
                        <h4>Usuarios</h4>
                    </div>
                </div>

                <div class="col s12">
                    <table class="bordered data-tables responsive-table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <th>Status</th>
                                <th>Username</th>
                                <th>Facebook</th>
                                <th>Email</th>
                                <th>Sign up date</th>
                                <th>admin</th>
                                <th>Action</th>
                            </tr>
                            <tr ng-repeat="usuario in usuarios">
                                <td><input type="button" class="btn btn-mini" value="Ver"></td>
                                <td>{{usuario.activated}}</td>
                                <td>{{usuario.name}}</td>
                                <td><a target="_blank" href="https://www.facebook.com/app_scoped_user_id/">Facebook </a></td>
                                <td>{{usuario.email}}</td>
                                <td>{{usuario.created}}</td>
                                <td>{{usuario.is_admin}}</td>
                                <td><a href="/admin/profile.php/?id={{usuario.id}}"><input type="button" class="btn btn-mini" value="Ver"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</main>