<main class="content">
    <div class="row">
        <div class="col s12 m12 l12">
        <div class="card blue-grey lighten-2 hidden" ng-if="messageria.status == 1">
            <div class="card-content white-text" >
                <span class="card-title">Voce esta inscrito numa roleta !</span>
            </div>
        </div>
        <div class="card blue-grey lighten-2 hidden" ng-if="messageria.status == 2">
            <div class="card-content white-text" >
                <span class="card-title">Voce foi sorteado </span>
                <br>
                <input type="button" value="aceitar" ng-click="aceitar()"class="btn btn-mini">
                <input type="button" value="recusar" ng-click="recusar()"class="btn btn-mini">
            </div>
              
        </div> 
        <div class="col s12" ng-if="messageria.status  > 3">
                    <table class="striped responsive-table">
                        
                        <div class="container"> 
                          <div class="row" >
                            <div class="col s12">
                              <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="http://materializecss.com/images/office.jpg">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4">Sua oferta!<i class="material-icons right">more_vert</i></span>
                              <!--<p><a href="#">This is a link</a></p>-->
                            </div>
                            <div class="card-reveal" ng-if="messageria.status == 4">
                                <span class="card-title grey-text text-darken-4">Sua oferta!
                                    <i class="material-icons right">close</i>
                                </span>
                                  <span>Oferta : {{lead_apontado.name}}</span> 
                                     <p>Cel.: <div class="sliding-door-bottom btn btn-mini blue-grey darken-1" >
                                        <a href="tel:+12 345 7890"><em></em>
                                        <strong>Telefone :</strong>
                                        +1 555 354 7890
                                        </a>
                                        </div>
                                    </p>
                                    <p>Email:
                                    <div class="sliding-door-bottom btn btn-mini blue-grey darken-1" >
                                        <a href="mailto:name@domain.com"><em></em>
                                        <strong>email do cliente :</strong>
                                        mail@domain.com
                                        </a>
                                    </div>
                                    </p>
                                <br>
                                 <input type="button" value="Consegui contato" ng-click="contato(lead_apontado.id)"class="btn btn-mini black">
                                </div>
                                <div class="card-reveal" ng-if="messageria.status == 6">
                                <span class="card-title grey-text text-darken-4">Proximo passo pegar dados de simulação !
                                    <i class="material-icons right">close</i>
                                </span>
                                 <input type="button" value="Pegar dados" ng-click="pegar_dados()"class="btn btn-mini">
                                <input type="button" value="encerrar" ng-click="encerrar()"class="btn btn-mini">
                                </div>
                                <div class="card-reveal" ng-if="messageria.status == 8">
                                <span class="card-title grey-text text-darken-4">Vamos Agendar uma visita
                                    <i class="material-icons right">close</i>
                                </span>
                                 <input type="button" value="agendar" ng-click="agendar()"class="btn btn-mini">
                                    <input type="button" value="recusar" ng-click="recusar()"class="btn btn-mini">
                                </div>
                            </div>
                              </div>
                            </div>
                          </div>    




                            <!--<tbody>
                                <tr>
                                    <th class="text-left">Nome</th>
                                    <th>Email</th>
                                    <th>Disponivel</th>
                                    <th>Admin</th>
                                </tr>
                                <tr>
                                    <td class="text-left">{{logado.name}}</td>
                                    <td>{{logado.email}}</td>
                                    <td>{{logado.disponivel}}</td>
                                    <td ng-if="logado.group_id == 1">Admin</td>
                                    <td ng-if="logado.group_id != 1">Corretor</td>
                                </tr>
                            </tbody> -->

                        </table>
                </div>
     


         
       
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12" >
                        <div class="row">
                            <span ng-repeat="roleta in roletas">
                            <div class="col s2" ng-repeat="dados_roleta in roleta.dados">
                                <input type="button" class="btn" value="{{dados_roleta.name}}" ng-click="inscrever(roleta.$id)">
                            </div>
                            </span>
                        </div>
                    </div>
				    
	  </div>
	</div>
</div>
</main>