                  <div class="col-lg-12 mb40">
                     <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-default justify-content-center mb10" role="tablist">
                           <li class="nav-item" role="presentation"><a class="active nav-link" href="#t5" aria-controls="home" role="tab" data-toggle="tab"> <i class="fa fa-home"></i> Perfil</a></li>
                           <li class="nav-item" role="presentation"><a class="nav-link" href="#t6" aria-controls="profile" role="tab" data-toggle="tab"> <i class="fa fa-user"></i>BenAmigos</a></li>
                           <li class="nav-item" role="presentation"><a class="nav-link" href="#t7" aria-controls="profile" role="tab" data-toggle="tab"> <i class="fa fa-money"></i>BenCréditos</a></li>
                           <li class="nav-item" role="presentation"><a class="nav-link" href="#t8" aria-controls="profile" role="tab" data-toggle="tab"> <i class="fa fa-shopping-cart"></i>Retirar</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                           <div role="tabpanel" class="tab-pane active show fade" id="t5">
                            <h5>{{cart.logged_user.name}}</h5>
                            <p><h6>Email: {{cart.logged_user.email}}</h6>
                            </p>
                            <br>

                             <div class="row align-items-center">
                                 <div class="col-lg-6 mb30">
                                     <h4 class="text-center">Escaneie o QR Code para adicionar amigos.</h4>
                                 </div>
                                 <div class="col-lg-6 mb30">
                                     <div id="qrcode-profile" class="text-center"><img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl={{cart.qrcode_profile}}%2F&choe=UTF-8" title="Link to Google.com" /></div>
                                 </div>
                             </div>
                              <br>
                                <span class="text-warning-cred">Meu Saldo: R$ {{cart.logged_user.wallet}}</span>
                           </div>
                           <div role="tabpanel" class="tab-pane fade" id="t6">
                              <p class="name-cred">Conecte-se com amigos pelo seu qrcode  e transfira bencréditos e produtos aqui.</p>
                              <div class="card-accordion card-accordion-simple card-accordion-icons-left mb80" id="card-accordion-simple" role="tablist" aria-multiselectable="true">
                                 <!-- Card 1 -->
                                 <div class="card">
                                    <div class="card-header accordion-header" role="tab" id="headingOne2"> <a data-toggle="collapse" data-parent="#card-accordion-simple" href="#collapseOneList" aria-expanded="true" aria-controls="collapseOne"> Meus BenAmigos </a> </div>
                                    <div id="collapseOneList" class="collapse" role="tabpanel" aria-labelledby="headingOne1">
                                        <div class="card-body">

                                          <div class="col-md-12 mb30">
                                            <div class="icon-box icon-box-center text-center" ng-repeat="n in cart.logged_user_friends track by $index">
                                                <h4>Amigo: {{n.nome}}</h4>
                                                <p>
                                                  <a ng-click="cart.modal_transferir(n)" class="btn btn-primary btn-smc mb5"> <i class="ti-share"></i>transferir</a>
                                                  <a ng-click="cart.modal_presentear(n)" class="btn btn-primary btn-smc mb5"> <i class="fa fa-user"></i>presentear</a></p>
                                                </p>
                                            </div><!--/icon box-->
                                          </div>
                                          <!--
                                            <p class="name-cred" ng-repeat="n in cart.logged_user_friends track by $index">Amigo <a href="#" ng-click="cart.modal_presentear(n)">#</a>-- {{n.nome}}{{ $index }} 
                                            	<a ng-click="cart.modal_transferir(n)" class="btn btn-rounded btn-primary"> <i class="ti-share"></i>transferir</a>
                                            	<br>
                                            	<a ng-click="cart.modal_presentear(n)" class="btn btn-rounded btn-primary"> <i class="fa fa-user"></i>presentear</a></p> -->
                                        </div>
                                    </div>
                                 </div>
                      
                              </div>
                           </div>
                           <div role="tabpanel" class="tab-pane fade" id="t7">
                              <p class="name-cred">Você tem <span class="text-warning-cred">R$ {{cart.logged_user.wallet}}</span> para transferir para seus amigos.</p> 
                              <h4 class="text-warning-cred"> Comprar: <small>R$</small><input type="total_vouchers" ng-model="cart.total_vouchers" name="" ng-change="cart.change_vouchers()"></h4>
                               <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                        <!--Tipo do botão-->
                        <input type="hidden" name="cmd" value="_xclick" />
                        <!--Vendedor e URL de retorno, cancelamento e notificação-->
                        <input type="hidden" name="business" value="contasapagar-facilitator@benjaminapadaria.com.br" />
                        <input type="hidden" name="return" value="https://benjamin-a-padaria.herokuapp.com/voucher/retorno/{{cart.hash_email_cliente}}" />
                        <input type="hidden" name="cancel" value="https://benjamin-a-padaria.herokuapp.com/voucher/cancelamento/{{cart.hash_email_cliente}}" />
                        <input type="hidden" name="notify_url" value="https://benjamin-a-padaria.herokuapp.com/compra/notificacao" />
                        <!--Internacionalização e localização da página de pagamento-->
                        <input type="hidden" name="charset" value="utf-8" />
                        <input type="hidden" name="lc" value="BR" />
                        <input type="hidden" name="country_code" value="BR" />
                        <input type="hidden" name="currency_code" value="BRL" />
                        <input type="hidden" name="tx" value="{{cart.hash_email_cliente}}">
                        <input type="hidden" name="payer_id" value="{{cart.hash_email_cliente}}">
                        <input type="hidden" name="invoice" value="{{cart.hash_email_cliente}}@{{cart.cart_ci}}">
                        <input type="hidden" name="custom" value="{{cart.hash_email_cliente}}">
                        <input type="hidden" name="at" value="{{cart.hash_email_cliente}}">
                        <!--Informações sobre o produto e seu valor-->
                        <input type="hidden" name="amount" value="{{cart.total_vouchers}}" />
                        <input type="hidden" name="item_name" value="Servico" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="item_number_1" value="bolinho" />
                        <input type="hidden" name="item_number_2" value="Sonho" />
                        <!--Botão para submissão do formulário-->
                        <input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_buynowCC_LG.gif" border="0"/>
                     </form>
                              <br>
                              <div class="row align-items-center">
                                 <div class="col-md-6 mb30 text-center">
                                    <img src="images/resto/cred/cred1.png" alt="" class="img-cred">
                                    <button class="btn btn-cred" type="button" ng-click="cart.add_voucher(10)">R$ 10,00 </button>
                                 </div>
                                 <div class="col-md-6 mb30 text-center">
                                    <img src="images/resto/cred/cred2.png" alt="" class="img-cred">
                                    <button class="btn btn-cred" type="button" ng-click="cart.add_voucher(20)">R$ 20,00 </button>
                                 </div>
                                 <div class="col-md-6 mb30 text-center">
                                    <img src="images/resto/cred/cred3.png" alt="" class="img-cred">
                                    <button class="btn btn-cred" type="button" ng-click="cart.add_voucher(30)">R$ 30,00 </button>
                                 </div>
                                 <div class="col-md-6 mb30 text-center d-none d-xl-block">
                                    <img src="images/resto/cred/cred5.png" alt="" class="img-cred">
                                    <button class="btn btn-cred" type="button" ng-click="cart.add_voucher(50)">R$ 50,00 </button>
                                 </div>
                                
                             </div>

                           </div>
                           <div role="tabpanel" class="tab-pane fade" id="t8">
                            <span id="listagem_retirar">
                           	<ul class="text-warning-cred" style="list-style: none;">
                           		<li ng-repeat="compra in cart.itens_vault track by $index" ng-show="compra.products">
                           			{{compra.hora| date:'dd/MM/yyyy @ h:mma'}}
                           		<div ng-repeat="produto in compra.products track by $index" ng-show="produto.PRESENTATION_NAME"><input type="checkbox" ng-model="produto.done">&nbsp;{{produto.PRESENTATION_NAME}}</div><br>
                           		</li>
                           	</ul>
                            <h5>Presenteados</h5>
                            <ul class="text-warning-cred" style="list-style: none;">
                              <li ng-repeat="compra in cart.itens_vault track by $index" ng-show="!compra.products">
                                {{compra.hora| date:'dd/MM/yyyy @ h:mma'}}
                              <input type="checkbox" ng-model="compra.done">&nbsp;{{compra.PRESENTATION_NAME}}<br>
                              </li>
                            </ul>

                           	<a  class="btn btn-rounded btn-primary" ng-click="cart.solicitar()" data-toggle="modal" data-target="#modal-solicitar">Pedir</a>
                            </span>
                            <span id="preloader_retirar" style="display: none;">
                              <div id="preloader">
                                 <div id="preloader-inner"></div>
                              </div>
                            </span>
                           </div>
                           
                        </div>
                     </div>
                  </div>
                  <hr>
                  <a data-scroll class="nav-link btn si-orange btn-primary popup-content menu-btn" href="#popup-login" data-dismiss="modal"> Alterar Email</a>